.wrapper {
    width: 100%;
    background-color: #f5f5f5;
}
.images {
    background-color: #497174;
}
.pizarra {
    width: 1060px;
    height: 700px;
    margin: 1%;
    background-image: url(../../../assets/img/campo.png);
    background-repeat: no-repeat;
    float: left;
    
}

.formulario {
    width: 30%;
    background-color: #f5f5f5;
    float: right;
    position: relative;
    padding: 2%;
}

button {
    margin-left: 50%;
    transform: translateX(-50%);
    padding-inline: 40%;
}

.jugador {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
}

.balon {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
}

.conoAzul {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
}

.conoRojo {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
}

.escalera {
    height: 50px;
    width: 100px;
    margin: 20px 20px 20px 20px;
}

.papelera {
    height: 50px;
    width: 50px;
}
.borrador {
    width: 5%;
    margin-left: 2%;
}