.wrapper {
    
    width: 100%;
    background-color: #f5f5f5;
}

.card {
    width: 350px;
    height: 600px;
    margin: 50px;
    display: inline-flex;
}

#descargarImagen {
    margin: 5px;
}

#descargarPDF {
    margin: 5px;
}

#borrar {
    margin: 5px;
}